h1 {
text-align:center;	
}
#a1 {
font-size: 25px;
background-color: #bbbbbb;
border: 8px solid #000000;	
border-radius: 19px;
}
#a2 {
font-size: 25px;
background-color: #adadad;	
border: 8px solid #000000;
border-radius: 19px;	
}
#a3 {
font-size: 25px;	
background-color: #777777;
border: 8px solid #000000;	
border-radius: 19px;
}
#a4 {
font-size: 25px;	
background-color: #626262;
border: 8px solid #000000;	
border-radius: 19px;
}
#a5 {
font-size: 25px;
background-color: #bbbbbb;
border: 8px solid #000000;	
border-radius: 19px;
}
#a6 {
font-size: 25px;
background-color: #bbbbbb;
border: 8px solid #000000;	
border-radius: 19px;
}
#a7 {
font-size: 25px;
background-color: #bbbbbb;
border: 8px solid #000000;	
border-radius: 19px;
}
#a8 {
font-size: 19px;
background-color: #ffffff;
border: 7px solid #000000;
border-radius: 19px;	
text-align: center;
}
#img1 {
text-align: center;	
}
#a9 {
font-size: 24px;
background-color: #ffffff;
border: 7px solid #000000;
border-radius: 19px;	
text-align: center;
}
#a10 {
font-size: 24px;
background-color: #ffffff;
border: 7px solid #000000;
border-radius: 19px;	
text-align: center;
}
#a11 {
font-size: 24px;
background-color: #ffffff;
border: 3px solid #000000;
border-radius: 19px;	
text-align: center;
}
#img2 {
text-align: center;	
}
#img3 {
text-align: center;	
}
	